
body {
    margin: 0;
}

.signup-form {
    width: 100%;
    min-width: 600px;
    min-height: 100vh;
    background-color: #161616;
    border-radius: 8px;
    color: #fff;
}

.starcolor {
    color: #f42b72;
}

.inform {
    height: 300px;
    min-width: 600px;
    margin-bottom: 70px;
    background-color: #121212;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 3px 15px rgb(45, 45, 45);
}

.informbox {
    width: 600px;
    margin: 0 auto;
    padding-top: 80px;
}

.imgbox {
    text-align: center;
}

img {
    width: 90px;
    height: 90px;
}

.informbox h1 {
    text-align: center;
    font-weight: 300;
}

.informbox h6 {
    text-align: end;
    font-weight: 400;
    color: rgb(207, 207, 207);
}

.form-group {
    width: 600px;
    margin: 35px auto;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #ccc;
    width: 120px;
}

.input-group {
    display: flex;
    align-items: center;
}

.input-container {
    position: relative;
    flex: 1; /* input을 넓게 만들기 위해 flex 사용 */
    cursor: text;
}

input {
    width:300px;
    height:35px;
    padding-right: 35px;
    margin-left: 20px;
    border: none;
    border-radius: 2px; /* 애니메이션 자연스럽게 나타내기 위해서 추가 */
    border-bottom: 2px solid #ffffff; /* 하단에만 테두리 추가 */
    font-size: 1rem;
    background-color: #161616;
    color: #fff;
    transition: background-color 0.3s, border-color 0.3s;
}

input:focus {
    border-radius: 5px;
    background-color: rgba(169, 169, 169, 0.2); /* 회색 불투명 배경 */
    outline:none;
}

.clear-icon {
    position: absolute;
    width:1.2rem;
    height: 1.2rem;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 0;
}

.clear-icon-us{
    position: absolute;
    width:1.2rem;
    height: 1.2rem;
    right: 132px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 0;
}

.toggle-password-icon{
    position: absolute;
    width:1.2rem;
    height: 1.2rem;
    right: 160px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 0;
}

.input-container:focus-within .clear-icon, 
.input-container:focus-within .clear-icon-us, 
.input-container:focus-within .toggle-password-icon{
    opacity: 100;
}

.input-container.focused .clear-icon, 
.input-container.focused .clear-icon-us, 
.input-container:focused .toggle-password-icon{
    opacity: 100;
}

.check-icon {
    position: absolute;
    width:1.2rem;
    height: 1.2rem;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

button {
    border: none;
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}

small {
    display: block;
    margin-top: 0.5rem;
    margin-left: 145px;
    font-size: 12px;
}

small.error-text {
    color: #fda4c7;
    font-size: 12px;
}

small.valid-text {
    color: #4ece95;
}

small.default-text {
    color: #a9a9a9;
}

.submit-button {
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 30px;
    font-size: 14px;
}

.submit-button:hover {
    background-color: gray;
    color: white;
}

.error-text {
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: red;
    font-size: 14px;
}

.signup-form button[type='button'] {
    
    color: white;
    padding: 10px 20px;
    border-radius: 7px;
    font-size: 14px;
}
.idbutton{
    background-color: rgb(91, 91, 91);
}
/* 이렇게 분리 안하면 타입이 버튼인 약관보기버튼색이 영향을 받아서 분리합니다. */

.signup-form button[type='button']:disabled {
    background-color: rgb(39, 38, 38);
    cursor: not-allowed;
}

.signup-form .input-group button {
    margin-left: 1rem;
}

.contour{
    width:800px;
    border:2px solid white;
}

/* 기본 브라우저 제공 아이콘 숨기기 */
input[type="password"]::-ms-reveal,
input[type="password"]::-webkit-clear-button,
input[type="password"]::-webkit-textfield-decoration-container {
    display: none;
}

.error-message{
    display: flex;
    justify-content: center;
    padding: 65px 0px 14px 0px;
    color: var(--primary-rose-300, #FDA4C7);
}