.terms-agreement {
    margin-top: 20px;
    margin-bottom: 64px;
    display: flex;
    flex-direction: column; /* 항목들을 수직으로 배치 */
    align-items: center; /* 중앙 정렬 */
    justify-content: center; /* 수직 중앙 정렬 */
  }
  .allagreement {
    display: flex;
    align-items: center;
    justify-content: start; /* 중앙 정렬 */
    margin: 10px 0;
    width: 100%; /* 버튼과 텍스트의 정렬을 위해 전체 너비를 차지 */
    max-width: 600px;
    white-space: nowrap; /* 적절한 최대 너비 설정 */
  }
  .allagree {
    color: var(--grayscale-gray50, #F4F5F6);
    
    text-align: center;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.96px;
    text-transform: capitalize;
    
  }
  .allinfo {
   display: block;
    
  }
  .agree {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* 중앙 정렬 */
    margin:  0;
  }
  .agreement {
    display: flex;
    align-items: center;
    justify-content: start; /* 중앙 정렬 */
    margin: 10px 0;
    width: 100%; /* 버튼과 텍스트의 정렬을 위해 전체 너비를 차지 */
    max-width: 600px;
    white-space: nowrap; /* 적절한 최대 너비 설정 */
  }
  .info-container {
    display: flex;
    align-items: center;
    width: 100%; /* 전체 너비 차지 */
    max-width: 395px; 
    margin-left: 143px; /* 왼쪽으로 이동 (조정 가능) */
    margin-bottom: 30px; /* 아래에 agreement-item과 40px 갭 추가 */
}

.info {
    font-family: Pretendard; /* 글꼴 */
    font-size: 14px; /* 글자 크기 */
    color: #888; /* 텍스트 색상 */
    line-height: 1.5; /* 줄 간격 */
}
  
  .agreement-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    width: 100%; /* 버튼과 텍스트의 정렬을 위해 전체 너비를 차지 */
    max-width: 600px;
    white-space: nowrap; /* 적절한 최대 너비 설정 */
  }
  
  .allcheckbox-label {
    display: flex;
    align-items: center;
    
    gap: 10px; /* 항목 간 간격 */
    /* margin-left: 52.5px; */
    margin-left: 20px;
  }
  .checkbox-label {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px; /* 항목 간 간격 */
    margin-left: 140px;
  }
  
  .view-terms-button {
    margin-left: 5px;
    padding: 5px 10px;
    cursor: pointer;
    background: rgb(39, 38, 38);
  }
  
  
  .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(22, 22, 22, 0.25); /* 팝업 외부 배경을 반투명하게 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    backdrop-filter: blur(10px); /* 팝업 외부의 블러 효과 */
}
.popup {
    width: 500.443px;
    height: 610px; 
    flex-shrink: 0;
    border-radius: 16.231px;
    border: 0.676px solid #FFF; 
    background: rgba(16, 16, 16);
    box-shadow: 0px 2.705px 2.705px 0px rgba(0, 0, 0, 0.25); /* 그림자 효과 */
    position: relative; /* 자식 요소의 절대 위치 기준 */
    padding: 20px; /* 내부 여백 */
    overflow: hidden; /* 텍스트 박스가 넘칠 경우 잘리도록 설정 */
}

.title-container {
    position: absolute;
    top: 20.58px; 
    left: 40.58px; /* 팝업 왼쪽에서 20px */

    color: var(--grayscale-gray50, #F3F5F6);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.64px;
    text-transform: capitalize;
}

.popup-content {
    width: calc(100% - 40px); /* 양쪽 여백을 고려한 너비 */
    height: 450px; /* 텍스트 상자의 높이 */
    margin: 76.68px 20px 50px 20px; /* 위에 타이틀 공간과 아래 버튼을 위한 여백 */
    resize: none;
    padding: 21.23px 1px 21px 21px;
    border-radius: 10.82px;
    border: 0.676px solid #8B8B8B;
    background: rgba(162, 162, 162, 0.10);
    backdrop-filter: blur(33.81374740600586px);
    
    color: #C8CACB;
    box-sizing: border-box; /* 패딩 포함 크기 계산 */
    overflow: auto;
}

.popup-close-button {
    position: absolute;
    bottom: 40px; /* 팝업 하단에서 20px */
    right:40px; /* 팝업 오른쪽에서 20px */
    color: black;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.64px;
    text-transform: capitalize;
    padding: 8.12px 16.23px;
    border: none;
    cursor: pointer;
    border-radius: 27.051px;
    border: 0.676px solid rgba(0, 0, 0, 0.20);
    background: #FFF;
}

.popup-content::-webkit-scrollbar {
    width: 22px; /* 스크롤바의 너비 */
}

.popup-content::-webkit-scrollbar-thumb {
    height: 54.102px; /* 스크롤바 썸의 높이 */
    border-radius: 33.814px; /* 둥근 모서리 */
    background: rgba(243, 245, 246, 0.30); /* 썸의 색상 */
    border: 8px solid #1F1F1F; /* 썸의 테두리 (트랙과 동일 색상) */
}

.popup-content::-webkit-scrollbar-track {
    background-color:#1F1F1F; /* 트랙의 색상 */
    border-radius: 33.814px; /* 둥근 모서리 */
}
